<ion-header *ngIf="!ifSelect()">

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Canchas</ion-title>
    <ion-buttons end>
      <button ion-button clear class="search" color="light" icon-only (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <page-notificationOn></page-notificationOn>
      <button ion-button clear class="more" color="light" icon-only (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-header *ngIf="ifSelect()">
  <ion-navbar color="darkColor">
    <ion-searchbar class="searchbarcus" [animated]="true" [(ngModel)]="searchTerm" [showCancelButton]="true"
      (ionCancel)="onCancel($event)" (ionInput)="searchTeams()"></ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <agm-map *ngIf="!ifSelect()" [zoom]="zoomValue" [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let field of listaField; let i=index" [latitude]="field?.location.lat" [longitude]="field?.location.lng"
      [label]="field.fieldName"></agm-marker>
  </agm-map>

  <ion-grid *ngIf="!ifSelect()">
    <ion-row>
      <ion-col col-2>
        <button ion-button clear class="more" color="dark" icon-only (click)="goBackField()">
          <ion-icon name="arrow-dropleft"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <button ion-button block small class="search" color="primary" (click)="zoomField()">
          Zoom {{firstFieldName}}
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear class="more" color="dark" icon-only (click)="goForwardField()">
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div text-center>
      <button *ngIf="zoomValue>10" small outline ion-button round color="danger" (click)="outField()">
        Alejar Zoom
      </button>
    </div>
  </ion-grid>


  <div *ngIf="bandSeeMap">
    <div padding text-center>
      <ion-badge>
        Lista de Canchas
      </ion-badge>
    </div>
    <ion-card margin-top *ngFor="let field of listaField; let i=index">
      <ion-grid>
        <ion-row (click)="goToDetail(field)">
          <ion-col col-auto>
            <div>
              <h2 class="product-name"> {{field.fieldName}} </h2>
              <h3 class="product-name">
                <ion-note>Ubicacion: </ion-note> {{field.addres}}
              </h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>