page-detail-field {

    agm-map {
        height: 300px;
      }
      img,ion-slides{
        height: 300px;
      }
      ion-title{
            margin-left: -21px !important;
      }
      .swiper-slide img {
        height: 300px !important;
        width: fit-content;
        background-position: center !important;
        background-size: cover !important;
    }
}
