page-profile {
    .perfilImg{
        width: 159px;
        height: 154px;
        border-radius: 50%;
    }
    .perfilName{
        margin-top: 26px; 
    }
    .backimg{
       //background-color:color($colors, light);
       background-color:color($colors, lightColor);
       margin: -16px; 
       padding: 6px 0px;
       padding-top: 10px;
    }
    h5{
        font-size: 14px;
        color: color($colors, primary);
    }
    .icoSubir{
        padding-right: 10px;
    }
}
