page-teams {
    .addButtonfab {
      //  right: 8% !important;
       /// bottom: 0px;
    }
    .addButton {
     //   right: 0!important;
        background-color: color($colors, darkColor);
        &:active{
            background-color: color($colors, secondary);
        }
    }

    .disp{
        right: 28px;
        position: absolute;
    }
    .people{
        padding-right: 5px;
    }
 
}
