<!--
  Generated template for the TeamReservePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reserva del Equipo {{team.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab *ngIf="!bandLength && bandLeader" class="addButtonfab" right bottom>
    <button ion-fab mini class="addButton" round icon-only (click)="addPlayer()">
      <ion-icon color="light" name="md-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab  class="addButtonfab" left bottom>
      <button ion-fab mini class="addButton" round icon-only (click)="cancel()">
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </button>
    </ion-fab>

  <ion-list>
    <ion-list-header text-center *ngIf="true">
      Jugadores
      <div text-center>
        <ion-note>Capacidad Maxima de {{team.sizeTeam}} jugadores</ion-note>
      </div>

    </ion-list-header>
    <ion-item-sliding *ngFor="let player of team.players; let i=index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-avatar item-left>
                <div *ngIf="!player?.photoURL">
                  <img src="assets/imgs/noPhoto.png" />
                </div>
                <div *ngIf="player?.photoURL">
                  <img [src]="player?.photoURL">
                </div>
              </ion-avatar>
            </ion-col>
            <ion-col col-7>
              <h2 class="nom">{{ player?.name }} <ion-note *ngIf="i==0" text-right> Lider</ion-note> </h2>
              <ion-note class="nom">{{ player?.email }}</ion-note>
            </ion-col>
            <ion-col col-2>
              <ion-buttons right *ngIf="player?.state===1">
                <button  ion-button class="estate" color="secondary"  clear icon-only (click)="changeState(i)">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>
              </ion-buttons >
              <ion-buttons right *ngIf="player?.state===2">
                  <button  ion-button  class="estate" color="danger"  clear icon-only (click)="changeState(i)">
                    <ion-icon name="close-circle"></ion-icon>
                  </button>
                </ion-buttons >
                <ion-buttons right *ngIf="player?.state===3">
                    <button  ion-button  class="estate" color="lightColor"  clear icon-only (click)="changeState(i)">
                      <ion-icon name="hand"></ion-icon>
                    </button>
                  </ion-buttons >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" small clear icon-only (click)="removePlayer(i)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" small clear icon-only (click)="removePlayer(i)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="!bandLength && !bandLeader && !here">
      <button ion-button color="secondary"  block round outline (click)="askAdd()">Solicitar Entrar </button>
    </ion-item>
  </ion-list>
  <div text-center *ngIf="bandLeader">
    <button ion-button small round color="secondary" (click)="update()">Actualizar</button>
  </div>
</ion-content>