.my-sidemenu .content{
    background-color:color($colors, darkColor);
    }
    .my-sidemenu .toolbar .toolbar-background {
        background-color: color($colors, primary);
    }
    .my-sidemenu .toolbar .toolbar-title {
        color: #FFFFFF;
    }
    .my-sidemenu .content .list {
        background-color: transparent;
    }
    .my-sidemenu .content .list .item {
        background-color: transparent;
        color: #FFFFFF;
    }
    .my-sidemenu .content .list .item .item-inner {
        margin-left: 8px;
    }
    
    .my-navbar .toolbar .toolbar-background {
        background-color:color($colors, primary);
    }
    .my-navbar .toolbar-content .toolbar-title {
        color: #FFFFFF;
    }
    .my-navbar .toolbar .icon {
    //    color: #FFFFFF;
    }
    .my-navbar .back-button-text{
        //color: #FFFFFF;
    }
    
    .my-sidemenu .content .list .item {
        background-color: transparent;
        color: #FFFFFF;
            border-bottom: 1px solid #dedede;
        }
        .my-sidemenu .content .list .item.active {
            background-color: #2D3238;
            color: #FFFFFF;
        }
        .my-sidemenu .content .list .item.active .item-inner {
            border:none;
        }
        .my-sidemenu .content .list .item .item-inner {
            margin-left: 8px;
            border:none;
        }
    
        .footer {
            color: #FFFFFF !important;
            background-color:transparent !important;
            border-bottom: 1px solid color($colors, darkColor);
        }
    
        ion-footer{
            border:none !important;
            border-bottom: 10px solid #dedede !important;
        }
    
         .my-sidemenu .content {
           // background-image: linear-gradient(-90deg,#f4f4f4, #8187ff) !important;
          //  background-image: url('./../assets/imgs/fondo2.jpg') !important;
            background-position: center !important;
            background-size: cover !important;
            background-color:color($colors, lightColor);
           
      }

      // Animate CSS
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: 0.75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
     
    