<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons left>
      <button ion-button clear color="primary" icon-only navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>{{team.name}}</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab  *ngIf="!bandLength" class="addButtonfab" right bottom>
    <button ion-fab mini class="addButton" round icon-only (click)="addPlayer()">
      <ion-icon color="dark" name="md-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-list-header  text-center *ngIf="true">
      Jugadores
      <div text-center> <ion-note >Capacidad Maxima de {{team.sizeTeam}} jugadores</ion-note></div>
     
    </ion-list-header>
    <ion-item-sliding *ngFor="let player of team.players; let i=index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-avatar item-left>
                <div *ngIf="!player?.photoURL">
                  <img src="assets/imgs/noPhoto.png" />
                </div>
                <div *ngIf="player?.photoURL">
                  <img [src]="player?.photoURL">
                </div>
              </ion-avatar>
            </ion-col>
            <ion-col auto>
              <h2>{{ player?.name }}</h2>
              <h3>{{ player?.email }}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" small clear icon-only (click)="removePlayer(i)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" small clear icon-only (click)="removePlayer(i)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div text-center>
    <button ion-button small round color="secondary" (click)="update()">Actualizar</button>
  </div>
</ion-content>